.stylee{
    color: green;
    font-family: sans-serif;
    font-weight:500;
    font-style:inherit;
}
.stylle{
    color: rgb(128, 28, 0);
    font-family: sans-serif;
    font-weight:600;
    font-style:inherit;
}
.paraa{
    font-size: large;
    font-weight: 400;
    font-family:sans-serif;
    color: rgba(98, 96, 96, 0.982);

}
