.wholepart{
    background-color: #c3ea14;
}
.para1{
    color: darkmagenta;
    letter-spacing:1px;
}
.para2{
    color:darkmagenta
}
.btn{
    background-color: darkmagenta;
    color: white;
    border-radius: 12px;
    padding: 10px;

}